{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="restricted">
		{{ page.content }}
	    {% for p in page.collection %}
			<div class="news-archive-wrap">
				{% for image in p.media.images %}
				   {{ image.html }}
				{% endfor %}
				<div class="news-summary">
					<a href="{{ p.url }}"><h3>{{ p.title }}</h3></a>
					<p>{{ p.header.snippet }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}