{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="restricted staff-archive">
	    {{ page.content }}
	    {% for p in page.collection %}
			<div class="staff-single-wrap">
				{% for image in p.media.images %}
				   {{ image.html }}
				{% endfor %}
				<div class="staff-summary">
					<a href="{{ p.url }}"><h3>{{ p.title }}</h3></a>
					<h5>{{ p.header.position }}</h5>
					<p>{{ p.header.snippet }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}